@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Color scheme

$dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

$background-gradient: linear-gradient(
  to bottom,
  hsl(273, 75%, 66%),
  hsl(240, 73%, 65%)
);

// Text
$v-dark-grey-blue: hsl(237, 12%, 33%);
$dark-grey-blue: hsl(240, 6%, 50%);

// Dividers
$light-grey-blue: hsl(240, 5%, 91%);

// Breakpoints
$desktop-breakpoint: 635px;

:root {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  color: $v-dark-grey-blue;
}

body {
  display: flex;
  flex-direction: column;
  background-image: $background-gradient;
  padding: 2rem;
  //   margin-top: 10rem;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 35em;
  margin: 10em auto 0 auto;
  background-color: white;
  border-radius: 25px;
  padding: 0 1em;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

.image-container {
  height: 10rem;
  margin-right: 2rem;
  img {
    margin: auto;
    transform: translateY(-9em);
    filter: drop-shadow(0px 25px 1px rgba(101, 101, 231, 0.2));
  }
}

h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.5em;
}

.faq-container {
  margin-bottom: 2em;
  p {
    padding: 0.5em 0;
  }
}

li {
  cursor: pointer;
  border-bottom: 1px solid $light-grey-blue;
  padding: 0 0 0.5em 0;
  margin: 1em 0;
}

label {
  .answer {
    color: $dark-grey-blue;
    display: none;
    font-weight: 400;
  }
  .question {
    display: flex;
    width: 100%;
    img {
      margin: auto 1em auto auto;
    }
    &:hover {
      color: $soft-red;
    }
  }
}

input {
  display: none;
  &:checked + label {
    font-weight: 700;
    .answer {
      display: inline;
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  .container {
    width: 80%;
    max-width: 900px;
    height: 36em;
    display: grid;
    grid-template-areas: "image faq";
    grid-auto-columns: 1fr 1fr;
  }
  picture {
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right center;
  }
  .box {
    background: none;
    transform: translateX(-205%) translateY(30%);
  }
  h1 {
    margin-top: 1.5em;
    text-align: left;
    font-size: 2.5em;
  }
  .image-container {
    display: flex;
    grid-area: image;
    height: 100%;
    margin: auto;
    picture {
      height: 100%;
      margin-left: -20%;
      display: fixed;
    }
    img {
      margin: auto;
      transform: none;
      filter: none;
    }
  }
  .faq-container {
    grid-area: faq;
    padding-right: 2em;
    padding-top: 1em;
    margin-bottom: 0;
  }
  .faq-actual {
    max-height: 26em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: auto;
    margin-bottom: 0;
  }
}

.attribution {
  color: white;
  margin: auto auto 1em auto;
  ul {
    margin-top: 2em;
  }
  a {
    color: white;
    font-weight: 700;
  }
}
