// Variables and Imports
@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grey-red: hsl(0, 6%, 24%);
$pastel-gradient: linear-gradient(
  to bottom,
  hsl(0, 0%, 100%),
  hsl(0%, 100%, 98%)
);
$button-gradient: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

$desktop-breakpoint: 800px;

// Main SCSS
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: $desaturated-red;
  background-image: $pastel-gradient;
}

.header {
  img {
    height: 1.5em;
    margin: 1.5em 0;
    padding-left: 2em;
  }
}

.image-container {
  width: 100%;
  img {
    width: 100vw;
  }
}
.form-container {
  margin: auto;
  padding: 0 2em;

  h1 {
    span {
      color: black;
      font-weight: 600;
    }
    max-width: 10em;
    font-weight: 300;
    font-size: 2.25rem;
    margin: 1.5em auto 0.5em auto;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1.15em;
  }

  p {
    margin: auto;
    margin-bottom: 1.5em;
    max-width: 490px;
  }
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 390px;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 500px;
  overflow: hidden;
  margin: 0 auto 4em auto;
  input {
    width: 100%;
    padding-left: 1em;
    color: $desaturated-red;
    &::placeholder {
      color: rgba(206, 151, 151, 0.5);
    }
    border: none;
    background: none;
  }
  button {
    padding: 1em 1.5em;
    border-radius: 500px;
    border: none;
    background: $button-gradient;
  }
}

// FOOTER SCSS
.attribution {
  text-align: center;
  margin-bottom: 2em;
  display: inline-block;
  li {
    display: inline-block;
    margin: auto 1em;
    a {
      color: black;
    }
  }
}

// Desktop
@media screen and (min-width: $desktop-breakpoint) {
  .container {
    background: url("/images/bg-pattern-desktop.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    margin: auto;
    padding-left: 1em;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-areas:
      "logo hero-img"
      "form hero-img"
      "foot hero-img";
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .header {
    width: 490px;
    margin: auto;
    margin-bottom: 0;
    grid-area: logo;
    img {
      padding: 0;
      margin-right: auto;
      height: auto;
    }
  }
  .image-container {
    padding-left: 1em;
    grid-area: hero-img;
    width: 100%;
    img {
      margin-left: auto;
      height: 100vh;
      width: auto;
      object-fit: cover;
      object-position: left;
    }
  }
  .form-container {
    margin: auto;
    grid-area: form;
    h1 {
      font-size: 4.5rem;
      word-spacing: 100vw;
      margin: 0;
      // margin-bottom: 1em;
      max-width: 10rem;
    }
    p.message {
      margin-top: 2rem;
      margin-bottom: 3rem;
      font-size: 1.25rem;
    }
    form {
      margin: 0;
      max-width: 30em;
      margin-bottom: 1em;
      button {
        width: 6em;
        img {
          margin: auto;
        }
      }
    }
  }
  .attribution {
    margin-top: auto;
    grid-area: foot;
  }
}

// VALIDATION STUFF HERE

.error-icon {
  visibility: hidden;
  height: 2em;
  margin: auto;
  padding-right: 1em;
}
.error-message {
  color: $soft-red;
  visibility: hidden;
  font-size: 0.8rem;
  padding-left: 2em;
  transform: translateY(-10px);
}
.error-icon.active,
.error-message.active {
  visibility: visible;
}

form.active {
  border: solid 2px red;
}

// get rid out outline when user is NOT using accessibility tools that it would be useful for
:focus-visible {
  outline: 3px solid currentColor;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
  outline: transparent;
}
