/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #ce9797;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#fff5f5));
  background-image: linear-gradient(to bottom, white, #fff5f5);
}

.header img {
  height: 1.5em;
  margin: 1.5em 0;
  padding-left: 2em;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100vw;
}

.form-container {
  margin: auto;
  padding: 0 2em;
}

.form-container h1 {
  max-width: 10em;
  font-weight: 300;
  font-size: 2.25rem;
  margin: 1.5em auto 0.5em auto;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.15em;
}

.form-container h1 span {
  color: black;
  font-weight: 600;
}

.form-container p {
  margin: auto;
  margin-bottom: 1.5em;
  max-width: 490px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 390px;
  border: 1px solid rgba(206, 151, 151, 0.5);
  border-radius: 500px;
  overflow: hidden;
  margin: 0 auto 4em auto;
}

form input {
  width: 100%;
  padding-left: 1em;
  color: #ce9797;
  border: none;
  background: none;
}

form input::-webkit-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
}

form input:-ms-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
}

form input::-ms-input-placeholder {
  color: rgba(206, 151, 151, 0.5);
}

form input::placeholder {
  color: rgba(206, 151, 151, 0.5);
}

form button {
  padding: 1em 1.5em;
  border-radius: 500px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#f8bfbf), to(#ee8c8c));
  background: linear-gradient(to right, #f8bfbf, #ee8c8c);
}

.attribution {
  text-align: center;
  margin-bottom: 2em;
  display: inline-block;
}

.attribution li {
  display: inline-block;
  margin: auto 1em;
}

.attribution li a {
  color: black;
}

@media screen and (min-width: 800px) {
  .container {
    background: url("/images/bg-pattern-desktop.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    padding-left: 1em;
    width: 100%;
    text-align: left;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo hero-img" "form hero-img" "foot hero-img";
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .header {
    width: 490px;
    margin: auto;
    margin-bottom: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  .header img {
    padding: 0;
    margin-right: auto;
    height: auto;
  }
  .image-container {
    padding-left: 1em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: hero-img;
    width: 100%;
  }
  .image-container img {
    margin-left: auto;
    height: 100vh;
    width: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left;
  }
  .form-container {
    margin: auto;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: form;
  }
  .form-container h1 {
    font-size: 4.5rem;
    word-spacing: 100vw;
    margin: 0;
    max-width: 10rem;
  }
  .form-container p.message {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.25rem;
  }
  .form-container form {
    margin: 0;
    max-width: 30em;
    margin-bottom: 1em;
  }
  .form-container form button {
    width: 6em;
  }
  .form-container form button img {
    margin: auto;
  }
  .attribution {
    margin-top: auto;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: foot;
  }
}

.error-icon {
  visibility: hidden;
  height: 2em;
  margin: auto;
  padding-right: 1em;
}

.error-message {
  color: #f96262;
  visibility: hidden;
  font-size: 0.8rem;
  padding-left: 2em;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.error-icon.active,
.error-message.active {
  visibility: visible;
}

form.active {
  border: solid 2px red;
}

:focus-visible {
  outline: 3px solid currentColor;
  outline-offset: 0.25rem;
}

:focus:not(:focus-visible) {
  outline: transparent;
}
/*# sourceMappingURL=main.css.map */