@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap");

$font-color: hsl(0, 0%, 59%);
$cyan-background: hsl(185, 75%, 39%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-position-x: -2vw, 55vw;
  background-position-y: -45vh, 60vh;
  background-color: $cyan-background;
}

.component {
  position: fixed;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .container {
    width: 22.5rem;
    color: $font-color;
    span {
      font-weight: 700;
      color: black;
    }
  }

  .top {
    background: url(../images/bg-pattern-card.svg);
    height: 10rem;
  }

  .middle {
    padding: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      border-radius: 100%;
      border: 0.4em whitesmoke solid;
      margin: -9em 0 1rem 0;
      width: 7.5rem;
    }

    h1 {
      margin-bottom: 1rem;
      color: black;
      span {
        padding-left: 0.5rem;
        font-weight: normal;
        color: $font-color;
      }
    }
    h2 {
      font-size: 1rem;
      font-weight: normal;
      margin: 0 0 2rem 0;
    }
  }

  .bottom {
    border-top: 1px solid lightgray;
    height: 7rem;
  }

  ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly; /* align horizontal */
    align-items: center; /* align vertical */

    li {
      font-size: 0.75rem;
      letter-spacing: 0.2em;
      span {
        letter-spacing: normal;
        font-size: 1.35rem;
        display: block;
        margin: 0.5em 0;
        cursor: pointer;
      }
    }
  }
}

.attribution {
  position: fixed;
  bottom: 0;
  margin-bottom: 2em;
  color: whitesmoke;
  text-align: center;
  line-height: 1.5rem;

  p {
    display: inline-flex;
    padding: 0 1em;
  }
  a {
    padding-left: 0.3rem;
    color: white;
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }
}
