@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;700&display=swap");

$font-color: hsl(0, 0%, 59%);
$cyan-background: hsl(185, 75%, 39%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  position: relative;

  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-color: $cyan-background;
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 45vh, left 50vw top 50vh;

  background-size: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component {
  width: 100%;
  text-align: center;
  padding: 2em;
  width: 100%;

  .container {
    max-width: 25em;
    margin: auto;
    background-color: whitesmoke;
    color: $font-color;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.32) 20px 20px 200px;

    overflow: hidden;

    span {
      font-weight: 700;
      color: black;
    }
  }

  .top {
    background: url(../images/bg-pattern-card.svg);
    height: 9em;
    padding: auto;
  }

  .middle {
    img {
      border-radius: 100%;
      border: 0.4em whitesmoke solid;
      margin: -4em 0 1rem 0;
      width: 7.5rem;
    }

    h1 {
      margin-bottom: 1rem;
      color: black;
      font-size: 1.3rem;
      span {
        padding-left: 0.5rem;
        font-weight: normal;
        color: $font-color;
      }
    }
    h2 {
      font-size: 1rem;
      font-weight: normal;
      margin: 0 0 2rem 0;
    }
  }

  .bottom {
    border-top: 1px solid lightgray;
    height: 7rem;
  }

  ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly; /* align horizontal */
    align-items: center; /* align vertical */

    li {
      font-size: 0.75rem;
      letter-spacing: 0.2em;
      padding: 0 1em;
      display: block;
      span {
        letter-spacing: normal;
        font-size: 1.35rem;
        display: block;
        margin: 0.5em 0;
        cursor: pointer;
      }
    }
  }
}

.attribution {
  position: absolute;
  bottom: 0;
  color: whitesmoke;
  text-align: center;
  line-height: 1.5rem;

  ul {
    margin-bottom: 1em;
    list-style: none;

    li {
      padding: 0 1em;
      display: inline-block;
    }
  }
  a {
    padding-left: 0.3rem;
    color: white;
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }
}
