/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
ul,
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  text-align: center;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  min-height: 100vh;
  background-color: #090b1a;
  color: rgba(255, 255, 255, 0.6);
}

h1,
span {
  color: white;
}

.container {
  margin: auto;
  max-width: 30rem;
  overflow: hidden;
  border-radius: 8px;
  background-color: #1b1938;
}

.container .image-container {
  height: 17em;
  width: 100%;
  background-image: url("../images/image-header-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1em;
}

.container .image-container .overlay {
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: #7e00cc;
}

.container h1 {
  margin: auto;
  margin-bottom: 0.5em;
  max-width: 15em;
}

.container h1 span {
  color: #aa5cdb;
}

.container .grid-container {
  padding: 2em;
}

.container .grid-container p {
  margin-bottom: 1em;
}

.container li {
  text-transform: uppercase;
}

.container li span {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-transform: none;
  display: block;
}

@media screen and (min-width: 956px) {
  .container {
    max-width: 65rem;
    padding-bottom: 0;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "text hero" "stats hero";
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .container .image-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: hero;
    height: 100%;
    background: url("../images/image-header-desktop.jpg") no-repeat right center;
    background-size: cover;
  }
  .container .grid-container {
    padding: 5em;
  }
  .container .text-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4em;
  }
  .container .text-container h1 {
    margin-bottom: 0.75em;
  }
  .container .stats-container {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: stats;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .stats-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .container .stats-container ul li {
    margin-right: auto;
  }
}

.attribution {
  justify-self: flex-end;
  margin-top: 2em;
}

.attribution a {
  color: #aa5cdb;
}
/*# sourceMappingURL=style.css.map */