@import url("../styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  font-family: "Karla", "sans-serif";
  background-color: #e5eff5;
  font-size: 16px;
  padding: 0 1em;
}

body {
  min-height: 100vh;
  padding-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 620px;
  display: -ms-grid;
  display: grid;
  margin: auto;
  border-radius: 1%;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.04);
      grid-template-areas: "top-box" "left-box" "right-box";
}

@media only screen and (min-width: 375px) {
  .container {
    -ms-grid-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-areas: "top-box top-box" "left-box right-box";
  }
}

.top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: top-box;
  background-color: white;
  padding: 1rem;
}

.top h1 {
  margin: 1rem;
  font-size: 1.5rem;
  color: #2ab2af;
}

.top h2 {
  margin: 0 1rem 1rem 1rem;
  font-size: 1rem;
  color: white;
  color: #c0df34;
}

.top p {
  margin: 1rem;
  color: #b1c2cd;
  line-height: 1.5rem;
}

.middle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left-box;
  background-color: #2ab2af;
  color: white;
  padding: 1rem;
  padding-right: 1em;
  background-clip: border-box;
}

.middle h2 {
  margin: 0 1rem 1rem 1rem;
  font-size: 1rem;
  color: white;
}

.middle .price-point {
  font-size: 1.75rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.middle .price-point span {
  padding-left: 0.5em;
  font-size: 1rem;
  opacity: 0.8;
  font-weight: 400;
}

.middle .access {
  margin: 0 0 0.5rem 1rem;
  opacity: 0.9;
}

.middle input[type="button"] {
  margin-top: 1em;
  padding: 1em 35%;
  background-color: #c0df34;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.08);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.middle input[type="button"]:hover {
  cursor: pointer;
}

.middle input[type="button"]:active {
  -webkit-transform: translate(-50%, 1px);
          transform: translate(-50%, 1px);
}

.bottom {
  padding: 1rem;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: right-box;
  background-color: #30cfcc;
}

.bottom h2 {
  margin: 0 1rem 1rem 1rem;
  font-size: 1rem;
  color: white;
}

.bottom ul {
  list-style: none;
  color: #e5eff5;
  font-size: 0.8rem;
  opacity: 0.9;
  margin-left: 1em;
  margin-bottom: 1em;
}

.bottom ul li {
  padding: 0.12em;
}

.attribution {
  margin-top: auto;
  margin-bottom: 1.5em;
  text-align: center;
}

.attribution ul {
  width: 100%;
  list-style: none;
}

.attribution ul li {
  color: #417da4;
  display: inline-block;
  margin: 0 0.5em 0 0.5em;
}

.attribution ul li a {
  color: #2ab2af;
}
/*# sourceMappingURL=main.css.map */