// CSS Reset
@import url("../styles/reset.css");

// Layout
$mobile-breakpoint: 375px;
$font-size: 16px;
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

// Colors
$cyan: hsl(179, 62%, 43%);
$cyan-lighter: hsl(179, 62%, 50%);
$bright-yellow: hsl(71, 73%, 54%);

$light-gray: hsl(204, 43%, 93%);
$dark-grey: hsl(204, 22%, 75%);

:root {
  font-family: "Karla", "sans-serif";
  background-color: $light-gray;
  font-size: $font-size;
  padding: 0 1em;
}

body {
  min-height: 100vh;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
}

@mixin section-header {
  margin: 0 1rem 1rem 1rem;
  font-size: 1rem;
  color: white;
}

.container {
  max-width: 620px;
  display: grid;
  margin: auto;
  border-radius: 1%;
  overflow: hidden;
  box-shadow: 1px 1px 5px 6px rgba(0, 0, 0, 0.04);

  grid-template-areas:
    "top-box"
    "left-box"
    "right-box";

  @media only screen and (min-width: $mobile-breakpoint) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "top-box top-box"
      "left-box right-box";
  }
}

.top {
  grid-area: top-box;
  background-color: white;
  padding: 1rem;
  h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: $cyan;
  }
  h2 {
    @include section-header();
    color: $bright-yellow;
  }
  p {
    margin: 1rem;
    color: $dark-grey;
    line-height: 1.5rem;
  }
}
.middle {
  grid-area: left-box;
  background-color: $cyan;
  color: white;
  padding: 1rem;
  padding-right: 1em;
  background-clip: border-box;
  h2 {
    @include section-header();
  }

  .price-point {
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    span {
      padding-left: 0.5em;
      font-size: 1rem;
      opacity: 0.8;
      font-weight: 400;
    }
  }

  .access {
    margin: 0 0 0.5rem 1rem;
    opacity: 0.9;
  }

  input[type="button"] {
    margin-top: 1em;
    padding: 1em 35%;
    background-color: $bright-yellow;
    color: white;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.08);

    // for centering button in div
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: translate(-50%, 1px);
    }
  }
}

.bottom {
  padding: 1rem;
  grid-area: right-box;
  background-color: $cyan-lighter;
  h2 {
    @include section-header();
  }
  ul {
    list-style: none;
    color: $light-gray;
    font-size: 0.8rem;
    opacity: 0.9;
    margin-left: 1em;
    margin-bottom: 1em;
    li {
      padding: 0.12em;
    }
  }
}

.attribution {
  margin-top: auto;
  margin-bottom: 1.5em;
  text-align: center;
  ul {
    width: 100%;
    list-style: none;

    li {
      color: hsl(204, 43%, 45%);
      display: inline-block;
      margin: 0 0.5em 0 0.5em;

      a {
        color: $cyan;
      }
    }
  }
}
