// ### Primary
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// ### Neutral
$dark-blue: hsl(234, 12%, 34%);
$grey-blue: hsl(229, 6%, 66%);
$light-blue: hsl(0, 0%, 98%);

// # Shadow
$shadow: rgba(76, 78, 150, 0.12);

// media query vars
$tablet: 768px;
$desktop: 1050px;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: $light-blue;
  color: $dark-blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  p {
    font-size: 15px;
  }
}

header {
  margin: 3em 0 2em 0;
  text-align: center;

  h1 {
    font-size: 1.7em;
    font-weight: 200;
  }

  h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  p {
    margin: auto;
    padding: 0 2.75em;
    color: $grey-blue;
    max-width: 40em;
  }
}

.feature-list {
  @mixin feature-border($color) {
    border-top: $color solid 3px;
  }
  display: grid;
  margin: auto;
  @media only screen and (max-width: $tablet) {
    // anything smaller than tablet is phone
    grid-template-areas:
      "supervisor"
      "teambuilder"
      "karma"
      "calculator";
  }

  @media only screen and (min-width: $tablet) {
    grid-template-areas:
      "supervisor teambuilder"
      "calculator karma";
    max-width: $tablet;
  }

  @media only screen and (min-width: $desktop) {
    grid-template-areas:
      ". teambuilder ."
      "supervisor teambuilder calculator"
      "supervisor karma calculator"
      ". karma .";
    max-width: $desktop;
  }

  ul {
    justify-items: center;
    margin: 0 1em;
    padding: 0 3em;
  }

  li {
    max-width: 20em;
    padding: 1.5em 2em;
    margin: 1em auto;
    border-radius: 2.5%;
    list-style: none;
    background-color: white;
    box-shadow: 2px 8px 16px 10px $shadow;

    p {
      color: $grey-blue;
      font-size: 0.75em;
      line-height: 1.75em;
      padding-bottom: 2em;
    }

    img {
      display: block;
      margin-left: auto;
    }
  }

  li:nth-child(1) {
    @include feature-border($cyan);
    grid-area: supervisor;
  }

  li:nth-child(2) {
    @include feature-border($red);
    grid-area: teambuilder;
  }
  li:nth-child(3) {
    @include feature-border($orange);
    grid-area: karma;
  }
  li:nth-child(4) {
    @include feature-border($blue);
    grid-area: calculator;
  }
}

footer {
  position: relative;
  margin: auto 0;
  color: $grey-blue;
  text-align: center;
  line-height: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  li {
    list-style: none;
    display: inline-block;
    margin: 0 1em;

    a {
      color: $dark-blue;
    }
  }
}
