@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: #fafafa;
  color: #4c4e61;
}

body p {
  font-size: 15px;
}

header {
  margin: 3em 0 2em 0;
  text-align: center;
}

header h1 {
  font-size: 1.7em;
  font-weight: 200;
}

header h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

header p {
  margin: auto;
  padding: 0 2.75em;
  color: #a3a5ae;
  max-width: 40em;
}

.feature-list {
  display: -ms-grid;
  display: grid;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  .feature-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .feature-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    max-width: 768px;
  }
}

@media only screen and (min-width: 1050px) {
  .feature-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    max-width: 1050px;
  }
}

.feature-list ul {
  justify-items: center;
  margin: 0 1em;
  padding: 0 3em;
}

.feature-list li {
  max-width: 20em;
  padding: 1.5em 2em;
  margin: 1em auto;
  border-radius: 2.5%;
  list-style: none;
  background-color: white;
  -webkit-box-shadow: 2px 8px 16px 10px rgba(76, 78, 150, 0.12);
          box-shadow: 2px 8px 16px 10px rgba(76, 78, 150, 0.12);
}

.feature-list li p {
  color: #a3a5ae;
  font-size: 0.75em;
  line-height: 1.75em;
  padding-bottom: 2em;
}

.feature-list li img {
  display: block;
  margin-left: auto;
}

.feature-list #supervisor {
  border-top: #45d3d3 solid 3px;
}

@media only screen and (max-width: 640px) {
  .feature-list #supervisor {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media only screen and (min-width: 768px) {
  .feature-list #supervisor {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .feature-list #supervisor {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
}

.feature-list #team-builder {
  border-top: #ea5353 solid 3px;
}

@media only screen and (max-width: 640px) {
  .feature-list #team-builder {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media only screen and (min-width: 768px) {
  .feature-list #team-builder {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .feature-list #team-builder {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.feature-list #karma {
  border-top: #fcaf4a solid 3px;
}

@media only screen and (max-width: 640px) {
  .feature-list #karma {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}

@media only screen and (min-width: 768px) {
  .feature-list #karma {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media only screen and (min-width: 1050px) {
  .feature-list #karma {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
}

.feature-list #calculator {
  border-top: #549ef2 solid 3px;
}

@media only screen and (max-width: 640px) {
  .feature-list #calculator {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

@media only screen and (min-width: 768px) {
  .feature-list #calculator {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

@media only screen and (min-width: 1050px) {
  .feature-list #calculator {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #a3a5ae;
  text-align: center;
  line-height: 2em;
  margin-bottom: 2em;
}

footer li {
  list-style: none;
  display: inline-block;
  margin: 0 1em;
}

footer li a {
  color: #4c4e61;
}
/*# sourceMappingURL=main.css.map */